body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: white;
  line-height: 24px;
  letter-spacing: 2%;
}

h1,
h2 {
  font-weight: 700;
}
h1 {
  color: white;
  font-size: 56px;
  margin: 0;
  padding-bottom: 48px;
  letter-spacing: 2%;
  line-height: 60px;
}

h3 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

.company-logo {
  text-transform: uppercase;
}

.company-logo span {
  color: #4d5ae5;
}

.section-banner .container {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
}

.banner-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  font-weight: 500;
  color: #fff;
  background: #4d5ae5;
}

/* SECTION TEAM */

.section-team {
  background-color: #f4f4fd;
}

/* SECTION FOOTER */
.section-footer {
  background-color: #2e2f42;
}
